body {
            background-color: #ececea;
        }
        
        .ball-pulse > div {
            background: #ff7f7f;
        }
        
        .well {
            background-color: #fff;
            border-radius: 0px;
        }
        
        .navbar-default {
            background-color: #ff7f7f;
            border-color: #ff7f7f;
        }
        
        .navbar-default .navbar-brand {
            color: #fff;
        }
        
        .shortImage {
            float: left;
            margin-top: -15px;
            margin-right: 5px;
        }
        
        .hamburger-inner,
        .hamburger-inner:after,
        .hamburger-inner:before {
            background-color: #fff;
        }
        
        #quick-title {
            color: #fff;
        }